@import "tailwindcss";
:root {
  --primary-color: #206de9;
}
body {
  background-color: #ebf4f6;
  overflow-x: hidden;
}
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #061e29;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar .nav {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(254, 254, 254);
  transition: 0.3s;
  @apply px-2 py-2 mb-4 mx-2;
}

.sidebar .nav:hover {
  background-color: var(--primary-color);
  color: rgb(254, 254, 254);
  @apply rounded shadow;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;

  color: rgb(6, 6, 6);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: var(--primary-color);
}

.active {
  background-color: var(--primary-color);
  color: rgb(254, 254, 254);
  @apply rounded shadow;
}

.main {
  transition: margin-left 0.5s;
}

td,
th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
